@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
    font-family: "Work Sans", sans-serif;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar sec start */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
}
.nav-content{
    display: flex;
}
.nav-item{
    list-style: none;
}
.navs-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
    margin-right: 50px;
}
.nav-next{
    font-size: 3rem;
    font-weight: bold;
}
/* banner sec start */
.banner-container{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h1{
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 4rem;
font-weight: 700;
line-height: 75px;
letter-spacing: 0%;
text-align: center;
margin-top: 100px;
}
.banner-content p{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}
.banner-content button{
border-radius: 8px;
background: rgb(255, 144, 14);
color: white;
font-weight: 600;
font-size: 1.2rem;
padding: 20px 25px;
margin: 20px 0;
border: none;
margin-bottom: 50px;
}
.banner-container img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-content{
    display: flex;
    align-items: center;
    margin-top: 130px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.team-text-container{
    margin-left: 130px;
    max-width: 537px;
}
.team-text-container h1{
    font-size: 2.8rem;
    margin-bottom: 20px;
}
.team-text-container p{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.team-text-container button{
    border-radius: 8px;
background: rgb(255, 144, 14);
color: white;
font-weight: 600;
font-size: 1.2rem;
padding: 20px 25px;
border: none;
}
/* header section responsive  start */
@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .nav-content{
        flex-direction: column;
    }
    .team-content{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1 , 1fr);
    }
    .team-text-container{
        margin-left: 20px;
    }
}


/* medium size device style */
@media screen and (min-width:576px) and (max-width:992px){
    .team-content{
        flex-direction: column;
    }
    .team-text-container{
        margin:50px auto;  
    }
}